

.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/elpa/
.emacs.d/url
.emacs.d/tramp
.emacs.d/session.*
.emacs.d/bookmarks

# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# AutoSave files
*.#*

# Undo-tree save-files
*.~undo-tree
